.story-Col{
	float:left;
	width: 25%;
	height: 100%;
	//outline: 1px solid #ccc;
}
.story-Col-Header{
	width: 100%;
	height: 50px;
	//border-bottom: 1px solid #ccc;
	background: #03A9F4;
	margin-bottom: 10px;
	position: relative;

}
.story-Col-Header h2{
	height: 100%;
	margin: 0;
	line-height: 58px;
	text-align: center;
	color: white;
	font-weight: 300;
	cursor: default;
}
.story-Col-Body{
	width: -moz-calc(100% - 1px);
	width: -webkit-calc(100% - 1px);
	width: calc(100% - 1px);
	height: 100%;
	padding-top: 5px;
}
#doneCol .story-Col-Body{
	border-right: 0;
	text-decoration: line-through;
}
#doneCol .story-Col-Body .story{
	opacity: .5;
}
#doneCol .story-Col-Body .story .details{
	display: none;
}
#doneCol .story-Col-Body .story .controls-Status{
	display: none;
}

.story{
	width: 90%;
	height: auto;
	border: 1px solid #F5F5F5;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin: auto;
	margin-bottom: 10px;
	padding: 5px;
	padding-top: 10px;
	font-size: 12px;
	position: relative;
	background: white;
	color: #6e6d72;
}
.story:hover{
	border: 1px solid #03A9F4;
	background: #03A9F4;
	color: white !important;
}
.story .summary{
	width: 90%;
	font-weight: bold;
	color: black;
	height: auto;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.story .details{
	width: 100%;
	word-wrap: break-word;
	margin-top: 10px;
	margin-bottom: 10px;
	//max-height: 210px;`
}
.story .controls{
	height: auto;
	width: 100%;
}
.story .controls .controls-Buttons{
	width: 100%;
	height: 16px;
	//display: none;
}
.story .controls .controls-Status{
	width: 100%;
	height: 20px;
	margin-top: 10px;
}
.story .delete{
	float: left;
	font-weight: 700;
	cursor: pointer;
	line-height: 30px;
}
.story .delete:hover{
	color: white;
}
.story .edit{
	float: left;
	font-weight: 700;
	cursor: pointer;
	margin-right: 10px;
	line-height: 30px;
}
.story .edit:hover{
	color: white;
}
.story b{
	color: black;
	margin-right: 5px;
	display: none;
}
.story .points{
	float: left;
	padding: 2px 5px 2px 0px;
	bottom: 0;
	left: 0;
	margin-bottom: 5px;
}
.story .estimate {
	display: none;
}
.story .tag{
	float: right;
	color: white;
	background: #c0392b;
	padding: 2px 5px 0px 5px;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	font-weight: 300;
	line-height: 20px;
	height: 20px;
}
